.list {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    /* fixes blurry text on swipe */
    transform: translate3d(0, 0, 0);
}

/* LIST ITEM */

.listItem {
    position: relative;
    z-index: 1;
    border-bottom: solid 2px var(--secondary-color);
}

/* CONTENT */

.content {
    height: 6rem;
    border-left: solid 1px var(--secondary-color);
    border-right: solid 1px var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    background: var(--primary-color);
}

.content_reset {
    composes: content;
    transition: transform .3s;
    -webkit-transition: transform .3s;
    transform: translateX(0) !important;
}

.description {
    color: var(--secondary-text);
    margin-top: .1rem;
}

.categoryColor {
    height: 2rem;
    width: 2rem;
    border-radius: 999rem;
    position: absolute;
    right: 1.5rem;
}

/* BACKGROUND */

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
}

.bg_left {
    composes: bg;
    background: var(--danger);
    justify-content: flex-end;
}

.bg_right {
    composes: bg;
    background: var(--success);
    justify-content: flex-start;
}

.bgIcon {
    margin: 0 1.5rem;
    font-size: 1.5rem;
}

.bgIcon_wobble {
    composes: bgIcon;
    animation: wobble .4s ease .1s;
}

@keyframes wobble {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(35deg) scale(1.1);
    }
    66% {
        transform: rotate(-35deg) scale(1.1);
    }
    100% {
        transform: rotate(0);
    }
}