.list {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    /* blurry text on swipe */
    transform: translate3d(0, 0, 0);
}

.placeholder {
    width: 100%;
    text-align: center;
    padding-top: 60px;
    font-size: 18px;
}

/* LIST ITEM */

.listItem {
    position: relative;
    z-index: 1;
    border-bottom: solid 2px var(--secondary-color);
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    height: 6rem;
}

.listItem:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.listItem_remove {
    composes: listItem;
    transition: height .3s ease .3s;
    height: 0;
    overflow: hidden;
}

/* CONTENT */

.content {
    min-height: 100%;
    border-left: solid 1px var(--secondary-color);
    border-right: solid 1px var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background: var(--primary-color);
    transition: none;
    outline: solid 1px transparent;
}

.content_active {
    composes: content;
    transition: background-color .15s;
    background-color: var(--secondary-color);
}

.content_reset {
    composes: content;
    transition: all .3s;
    /* pointer-events: none; */
}

.description {
    color: var(--secondary-text);
    margin-top: .1rem;
}

.categoryColor {
    height: 2rem;
    width: 2rem;
    border-radius: 999rem;
    position: absolute;
    right: 1rem;
}

/* BACKGROUND */

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
}

.bg_left {
    composes: bg;
    background: var(--danger);
    justify-content: flex-end;
}

.bg_right {
    composes: bg;
    background: var(--success);
    justify-content: flex-start;
}

.bgIcon {
    margin: 0 1.5rem;
    font-size: 1.5rem;
}

.bgText {
    font-weight: 500;
}

.bgIcon_wobble {
    composes: bgIcon;
    animation: wobble .4s ease .1s;
    -webkit-animation: wobble .4s ease .1s;
}

/* ANIMATIONS */

@keyframes wobble {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(35deg);
    }
    66% {
        transform: rotate(-35deg);
    }
    100% {
        transform: rotate(0);
    }
}

@-webkit-keyframes wobble {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(35deg);
    }
    66% {
        transform: rotate(-35deg);
    }
    100% {
        transform: rotate(0);
    }
}