/* TEXT INPUT */

.textInput {
    width: 100%;
    height: 100%;
    /* background: var(--primary-color); */
    background: none;
    color: white;
    letter-spacing: 1px;
}

.textInput::placeholder {
    color: var(--secondary-text);
    /* font-size: .9rem; */
}

/* COLOR PICKER */

.colorPicker {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    scroll-behavior: smooth;
    border-left: solid .5rem transparent;
    border-right: solid .5rem transparent;
    height: 100%;
}

.colorPicker::-webkit-scrollbar {
    display: none;
}

.colorItem {
    transition: opacity .3s;
    opacity: .4;
    height: 1.6rem;
    min-width: 1.6rem;
    max-width: 1.6rem;
    margin-right: .6rem;
    cursor: pointer;
    /* display: inline; */
    border: solid .1rem black;
    border-radius: .3rem;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.colorItem_active {
    composes: colorItem;
    opacity: 1;
    animation: focus .4s;
    -webkit-animation: focus .4s;
}

@keyframes focus {
    33% {
        transform: scale(.8);
    }
}

@-webkit-keyframes focus {
    33% {
        transform: scale(.8);
    }
}