.list {
    overflow-y: auto;
}

.listItem {
    height: 5rem;
    min-height: 5rem;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
}

.content {}

.name {
}

.description {
    color: var(--secondary-text);
    font-size: .8rem;
}

.categoryColor {
    border-radius: 2rem;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .6);
    height: 40%;
    width: 2rem;
    background: orange;
}